.section-about {
  display: flex;
  gap: 30px;

  background-image: linear-gradient(
    to bottom,
    var(--section-backrgound) 74%,
    var(--white) 74%
  );
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 70px;
}
.box-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.box-right {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}
.image-right {
  padding-top: 30px;
}
.box-inside-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
  justify-content: space-between;
}
.description {
  width: 395px;

  color: var(--black);
  font-size: 16px;
  letter-spacing: normal;

  line-height: calc(25 / 16); /* 156.25% */
}
