body {
  background-color: var(--white);
  color: var(--greytext);
  font-family: "TT Hoves", sans-serif;
  letter-spacing: 2.4px;
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
}
header {
  padding-top: 29px;
  padding-bottom: 29px;
}
footer {
  background-color: var(--dark-grey);
  padding-top: 58px;
  padding-bottom: 24px;
  color: var(--white);
}
h1 {
  color: var(--greytext-light);
  font-size: 64px;
  font-weight: 300;
  letter-spacing: normal;
  margin-bottom: 90px;
}
h2 {
  color: var(--greytext-light);
  font-size: 64px;
  font-weight: 300;
  letter-spacing: normal;
}
h3 {
  color: var(--white);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: normal;
}
.section {
  padding-bottom: 120px;
}
.section-title {
  margin-bottom: 60px;
}
button {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;

  min-width: 222px;
  min-height: 71px;
  padding: 24px 50px;
  border: none;
  outline: transparent;

  font-family: inherit;
  font-weight: 400;
  background-color: var(--white);

  cursor: pointer;

  transition: background-color var(--anim), box-shadow var(--anim);

  &:hover,
  &:focus {
    font-family: inherit;
    box-shadow: 0px 4px 4px var(--shadow);
  }
}
.button-black {
  background-color: var(--greytext);
  color: var(--white);

  &:hover,
  &:focus {
    font-family: inherit;
    box-shadow: 0px 4px 4px var(--greytext-light);
  }
}
svg {
  fill: currentColor;
  display: block;
}
a {
  cursor: pointer;
  transition: background-color var(--anim), box-shadow var(--anim);
}
