body {
  background-color: var(--white);
  color: var(--greytext);
  font-family: "TT Hoves", sans-serif;
  letter-spacing: 2.4px;
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
}
header {
  padding-top: 29px;
  padding-bottom: 29px;
}
footer {
  background-color: var(--dark-grey);
  padding-top: 58px;
  padding-bottom: 24px;
  color: var(--white);
}
h1 {
  color: var(--greytext-light);
  font-size: 64px;
  font-weight: 300;
  letter-spacing: normal;
  margin-bottom: 90px;
}
h2 {
  color: var(--greytext-light);
  font-size: 64px;
  font-weight: 300;
  letter-spacing: normal;
}
h3 {
  color: var(--white);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: normal;
}
.section {
  padding-bottom: 120px;
  /* outline: 1px solid blue;
  outline-offset: -1px; */
}
.section-title {
  margin-bottom: 60px;
}
.logo {
  // color: var(--blue);
  // font-family: 'Raleway', sans-serif;
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;

  // margin-right: 93px;
  /* background-color: greenyellow; */
}
.title {
  // color: var(--accentblack);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  // text-align: center;

  // margin-bottom: 50px;
}
/* social-icons */
.social {
  // display: flex;
  // justify-content: center;
  // gap: 10px;
}
.social__link {
  // display: flex;
  // align-items: center;
  // justify-content: center;

  // width: 44px;
  // height: 44px;

  // color: var(--iconcolor);
  // background-color: var(--white);
  // border-radius: 50%;

  // transition: background-color var(--anim), color var(--anim);

  // &:hover,
  // &:focus {
  //   background-color: var(--blue);
  //   color: var(--white);
  // }
}
.social__icon {
  // fill: currentColor;
  // display: block;
}
button {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;

  min-width: 222px;
  min-height: 71px;
  padding: 24px 50px; /*32-2*2 ширина бордера*/
  border: none;
  outline: transparent;
  // box-shadow: 0px 4px 4px var(--shadow);

  font-family: inherit;
  font-weight: 400;
  background-color: var(--white);

  cursor: pointer;

  transition: background-color var(--anim), box-shadow var(--anim);

  &:hover,
  &:focus {
    font-family: inherit;
    box-shadow: 0px 4px 4px var(--shadow);
  }
}
.button-black {
  background-color: var(--greytext);
  color: var(--white);

  &:hover,
  &:focus {
    font-family: inherit;
    box-shadow: 0px 4px 4px var(--greytext-light);
  }
}
svg {
  fill: currentColor;
  display: block;
}
a {
  cursor: pointer;

  transition: background-color var(--anim), box-shadow var(--anim);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px var(--greytext-light);
  }
}
